html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

/* Общие настройки */
body
{ font-family: Verdana;
  background: #ccc url(../images/background.png) repeat;
  color: #000; background-attachment:fixed;width:100%;
  
			color: rgba(69,54,37,0.6);
			font-size: 0.85em;
			/*font-style: italic;*/
			/*letter-spacing: 0.25em;*/
			border-bottom: 1px solid rgba(69,54,37,0.2);
			padding-bottom: 0.5em;}

p
{ padding: 0 0 10px 0;
  color: #1D1D1D;
  line-height: 1.3em;
  font-size: 100% ;
  font-family: Verdana;}

img
{ border: 0;}

/* Заголовки */
h1, h2, h3, h4, h5, h6 
{ font: normal 175%  sans-serif;
  color: #1D1D1D;
  text-shadow: 0px -1px 0px #fff;
  letter-spacing: -1px;
  margin: 0 0 10px 0;
  font-family: Verdana;}
h1 {
			display: block;
			margin-top: 0.5em;
			color: rgb(142,11,0);

			font-family: Verdana;
			font-size: 2.5em;
			letter-spacing: 0.1em;
			text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}
h2
{ font: bold 120%  sans-serif;font-family: Verdana;
font-family: Verdana;
			color: rgba(69,54,37,0.6);
			font-size: 0.85em;
			font-style: italic;
			letter-spacing: 0.25em;
			border-bottom: 1px solid rgba(69,54,37,0.2);
			padding-bottom: 0.5em;
}

h3
{ font: bold 110% Arial, Helvetica, sans-serif;font-family: Verdana;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 0px 0;
  font: normal 150% Arial, Helvetica, sans-serif;
  color: #FFF;
  line-height: 1.5em;
  text-shadow: 1px 2px 0px #000;font-family: Verdana;
  }

h5, h6
{ font: normal 95% Arial, Helvetica, sans-serif;
  color: #888;
  padding-bottom: 15px;font-family: Verdana;}

#main, #header, #banner, #menubar, #site_content, #footer, #content_grey
{ margin-left: auto; 
  margin-right: auto;}

#main
{ background: transparent;}

/* ЛОГОТИП */
a.logo {background-image: url(../images/logo.png); background-position: top; float:left; width: 300px; height: 60px; display: block;}
a:hover.logo {background-image: url(../images/logo.png); background-position: bottom; float:left;}

/* Гиперссылки */
a, a:hover
{ color: #006699;
  background: transparent;
  outline: none;
  text-decoration: none;}

a:hover
{ text-decoration: underline;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

/* Заголовок параметры*/
#welcome
{ width: 940px;
  float: right;
  text-align: right;
  height: 50px;
  margin: 0 auto;
  background: transparent;}  
   
#welcome H1
{ font: normal 300% Arial, Helvetica, sans-serif;
  letter-spacing: -3px;
  text-align: center;
  text-shadow: 1px 1px #000;
  color: #fff;}

/* Шапка */
#header
{ height: 290px;
  /*background-image: url(../images/background.png);*/
  background: url(../images/1.jpg);   /* Ниже настройки градиента фона для разных браузеров. IE-не поддерживает*/
 /* background: -moz-linear-gradient(#CEDBEC, #658EC4);  
  background: -o-linear-gradient(#CEDBEC, #658EC4);
  background: -webkit-linear-gradient(#CEDBEC, #658EC4);*/
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}

#banner
{ width: 940px;
  position: relative;
  height: 50px;
  padding: 10px 0 0 0;
  background: transparent;}

/* Слайдер левая часть*/
#slideshow
{ float: left;
  width: 500px;
  height: 250px;
  margin-bottom: 20px;}

ul.slideshow {
  list-style: none;
  width: 500px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin: 20px 0 0 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}
 
ul.slideshow li.show {
  z-index: 500;}        /* Не размер! индекс значимости */
 
ul img {
  border: none;}
 
#slideshow-caption {
  width: 500px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 500;}
 
#slideshow-caption .slideshow-caption-container {
  padding: 10px 25px 10px 25px; 
  background: transparent url(../images/transparent.png) repeat;  
  z-index: 1000;}
 
#slideshow-caption p {
  padding: 0;
  font: normal 130% arial, sans-serif;
  color: #FFF;}

/* Слайдер правая часть */
#topright
{ float: left;
  width: 430px;
  height: 250px;
  margin-bottom: 50px;
   }

ul.topright {
  list-style: none;
  width: 430px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin: 20px 0 0 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;}

/* Слайдер правая часть Текст*/
ul.topright li.toprightext{
    margin: 10px; /* Отступы вокруг */
    background: transparent; /* Стоит прозрачный. Цвет фона #ffffff; */
    padding: 5px; /* Поля вокруг текста */line-height: 0.5em;
}

.toprightext a:hover {
color: #FFF;
text-decoration: none;
}

/* Меню */
/*.menu {
margin-left: 160px; /* Отступ слева */
/*margin-top: 1px;  /* Отступ сверху */
}
.nav ul {
	padding: 0;
	margin: 0;

	-webkit-box-sizing: border-box;   /* Меню настройки под браузеры */
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.nav ul {
	list-style: none;
	overflow: hidden;
}
.nav li a {
	border: 1px solid #fff;
	color: #fff;
	display: block;
	float: left;
	font: 400 13px/1.6 Verdana, Tahoma, Arial, sans-serif;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 12.3%; /* Регулируем размер меню */
}

.nav li a:hover {
 color: #003366;   /* Цвет текста меню принаведении*/
}

.nav small {
	font: 100 11px/1 Helvetica, Verdana, Arial, sans-serif;
	text-transform: none;
}
.blue li a {
	background: #6890C5; /* Цвет фона */
	text-decoration: none;
}
.blue small {
	color: #000000;  /* Цвет подтекста */
}
.blue li a:hover {
    background-image: url(../images/background.png);  /* Рисунок фона при наведении*/
	text-decoration: none;
}

/* Блоки контента */
.level7 h1{
		
			color: rgb(142,11,0);

			font-family: Georgia;
			font-size: 2.5em;
			letter-spacing: 0.1em;
			text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
		}
		.level7 h1 span{
			display: block;
			margin-top: 0.5em;
			font-family: Verdana;
			font-size: 0.6em;
			font-weight: normal;
			letter-spacing: 0em;
			text-shadow: none;
		}
		.level7 .meta{
			font-family: Georgia;
			color: rgba(69,54,37,0.6);
			font-size: 0.85em;
			font-style: italic;
			letter-spacing: 0.25em;
			border-bottom: 1px solid rgba(69,54,37,0.2);
			padding-bottom: 0.5em;
		}
		.level7 .meta span{
			text-transform: capitalize;
			font-style: normal;
			color: rgba(69,54,37,0.8);
		}
		.level7 .body p{
			font-family: Verdana;
			-moz-column-count: 2;
			-moz-column-gap: 1em;
			-webkit-column-count: 2;
			-webkit-column-gap: 1em;
			column-count: 2;
			column-gap: 1em;
			line-height: 1.5em;
			color: rgb(69,54,37);
		}
		.level7 .body p:first-child{
			font-size: 1.25em;
			font-family: Georgia;
			font-style: italic;
			-moz-column-count: 1;
			-webkit-column-count: 1;
			column-count: 1;
			letter-spacing: 0.1em;
		}
		.level7 .body p:first-child:first-line{
			font-weight: bold;
		}
		.level7 date{
			font-family: Georgia;
			color: rgba(69,54,37,0.6);
			font-size: 0.75em;
			font-style: italic;
			letter-spacing: 0.25em;
			border-top: 1px solid rgba(69,54,37,0.2);
			display: block;
			padding-top: 0.5em;
			margin-top: 2em;
		}
		.level7 p{
			font-family: Georgia;
			color: rgba(69,54,37,0.6);
			font-size: 0.75em;
			font-style: italic;
			letter-spacing: 0.25em;
			border-top: 1px solid rgba(69,54,37,0.2);
			display: block;
			padding-top: 0.5em;
			margin-top: 2em;
		}
/* Обтекание моей картинки на главной */
.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 47px 7px 14px; /* Отступы вокруг картинки */
  box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;
   }




#site_content
{ width: 940px;
  overflow: hidden;
  margin: 0 auto;
  background: transparent url(../images/transparent_light.png) repeat; 
 margin-top:50px;  } 

#content
{ width: 920px;
  margin: 0 0 20px 10px;
  float: left;}

.content_item
{ width: 920px;
  padding: 20px 0px;}

/* Картинки главной страницы */
.content_image1
{ float: left; 
  width: 100%;
  height: 150px;
  margin-bottom: 5px;
  background: transparent url(../images/ege.jpg) no-repeat;}
  
.content_image2
{ float: left; 
  width: 100%;
  height: 150px;
  margin-bottom: 5px;
  background: transparent url(../images/konkurs.jpg) no-repeat;}
  
.content_image3
{ float: left; 
  width: 100%;
  height: 150px;
  margin-bottom: 5px;
  background: transparent url(../images/yroki.jpg) no-repeat;}
  
.content_image4
{ float: left; 
  width: 275px;
  height: 150px;
  margin-bottom: 5px;
  background: transparent url(../images/content_image4.png) no-repeat;}
  
.content_image5
{ float: left; 
  width: 275px;
  height: 150px;
  margin-bottom: 5px;
  background: transparent url(../images/content_image5.png) no-repeat;}
  
.content_image6
{ float: left; 
  width: 275px;
  height: 150px;
  margin-bottom: 5px;
  background: transparent url(../images/content_image6.png) no-repeat;}  

/* Блок в котором картинки на главной */
.content_main
{ width: 275px;
  height: 320px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 9px;
  float: left;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;}
  
.content_main h2
{text-align: center;} 

/* Блок страницы content.html */
.content_container
{ width: 275px;
  height:400px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 9px;
  float: left;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;}
  
.content_container h2
{text-align: center;}

/* Контент нижних блоков см. файл inc/footer-blocks */
#content_grey
 { width: 940px;
  height: 160px;
  text-align: center; 
  background: #658EC4;
  background: -moz-linear-gradient(#CEDBEC, #658EC4);
  background: -o-linear-gradient(#CEDBEC, #658EC4);
  background: -webkit-linear-gradient(#CEDBEC, #658EC4);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -webkit-border: 0px 0px 15px 15px;}  
  
#content_grey p
 { color: #000;}  

#content_grey h4
{ text-shadow: none;}
  
.content_grey_container_box
{ width: 270px;
  padding: 5px;
  text-align: center;
  margin: 20px 10px 10px 10px;
  float: left;}

.content_grey_container_boxl
{ width: 270px;
  padding: 5px;
  text-align: center;
  margin: 20px 0 10px 10px;
  float: left;}

/* Подвал см. файл inc/footer */
#footer_container
{ margin-top: 30px;
  margin-bottom: -20px;
  background: #658EC4;
  background: -moz-linear-gradient(#CEDBEC, #658EC4);
  background: -o-linear-gradient(#CEDBEC, #658EC4);
  background: -webkit-linear-gradient(#CEDBEC, #658EC4);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;} 
 
#footer
{ width: 940px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left; 
  background: transparent;
  font-weight: bold;
  text-shadow: 1px 1px #000;
  color: #FFF;}

#footer a, #footer a:hover
{ text-shadow: 1px 1px #000;
  color: #FFF;
  text-decoration: none;
  padding-bottom: 20px;}

/* Фотогалерея */

#gallery{
	width:852px;
	margin:auto;
	overflow:auto;
	padding-bottom:18px;
	position:static;
}

.float_left_thumb{
	float:left;
	height:164px;
	width:152px;
	margin:8px 10px 2px 8px;
	background:url(../images/gallery_thumb.png) no-repeat;
	padding-top:6px;
	text-align:center;
}

.center{
	margin:auto;
}

#no_gallery_found{
	width:798;
	padding:50px;
	margin:auto;
	background:red;
	border:10px solid white;
}

.float_left_thumb{
	float:left;
	height:164px;
	width:152px;
	margin:8px 10px 2px 8px;
	background:url(../images/gallery_thumb.png) no-repeat;
	padding-top:6px;
	text-align:center;
}

/* Параметры форм */
.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 280px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 2px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings input[type="checkbox"]
{ padding: 2px 0; 
  width: 15px; 
  font: 100% arial; 
  border: 0; 
  background: #FFF; 
  color: #47433F;
  margin: 28px 0;}

.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 206px; 
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;  
  color: #FFF;}

/* Кнопка подробнее */
a.button {
display:block;
width:100px;
height:20px;
background:url("../images/button.png");
margin:3px;
text-align:center;
line-height:20px;
font-size:13px;
color:#FFF;
text-decoration:none;
}

a.button:hover {
background-position:0 -20px;
color: #FFFFFF;
}

.quote {
	border:0px solid black; 
	padding:8px; 
	background:#ffffff;
	font: 85% Arial, Helvetica, sans-serif; 
	text-align:justify;
}

/* делает счетчик прозрачным */
#fb-schet a img{opacity:0.3; -moz-opacity:0.3; filter:alpha(opacity=40);}
#fb-schet a:hover img{opacity:1.0; -moz-opacity:1.0; filter:alpha(opacity=100);}

/* Стрелка вверх */
#vverh { 
background: #658EC4;
border: 1px solid #CCCCCC;
bottom: 10px;
color: #333333;
cursor: pointer;
font-size: 11px;
padding: 5px;
position: fixed;
right: 10px;
text-align: center;
width: 50px;
z-index: 99999;
text-decoration:none;
}

/* Стрелка вверх */
#back { 
background: #658EC4;
border: 1px solid #CCCCCC;
bottom: 10px;
color: #333333;
cursor: pointer;
font-size: 11px;
padding: 5px;
position: fixed;
right: 80px;
text-align: center;
width: 50px;
z-index: 99999;
text-decoration:none;
}

/* Закладки соцсетей */
#markcss {display: inline-block; padding: 6px 0 0 6px; background: transparent; border: 0px solid #E9E9E9; border-radius: 4px;}
#markcss:hover {background: transparent; border: 0px solid #D4D4D4; box-shadow: 0 0 5px #DDD;}
#markcss a {opacity: 0.5}
#markcss:hover a {opacity: 0.7}
#markcss a:hover {opacity: 1}



/*стиль текста статьи*/
		h1{
  font-size: 2.5em;
  font-family: Georgia;
  letter-spacing: 0.1em;
  color: rgb(142,11,0);
  text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}
h1 span{
  display: block;
  margin-top: 0.5em;
  font-family: Verdana;
  font-size: 0.6em;
  font-weight: normal;
  letter-spacing: 0em;
  text-shadow: none;
}
.meta{
  font-family: Georgia;
  color: rgba(69,54,37,0.6);
  font-size: 0.85em;
  font-style: italic;
  letter-spacing: 0.25em;
  border-bottom: 1px solid rgba(69,54,37,0.2);
  padding-bottom: 0.5em;
}
.meta span{
  text-transform: capitalize;
  font-style: normal;
  color: rgba(69,54,37,0.8);
}

.body p{
font-family: Georgia;
-moz-column-count: 2;
-moz-column-gap: 1em;
-webkit-column-count: 2;
-webkit-column-gap: 1em;
column-count: 2;
column-gap: 1em;
line-height: 1.5em;
color: rgb(69,54,37);
}
.body p:first-child{
font-size: 1.25em;
font-family: Georgia;
font-style: italic;
-moz-column-count: 1;
-webkit-column-count: 1;
column-count: 1;
letter-spacing: 0.1em;
}
 
.body p:first-child:first-line{
font-weight: bold;
}
date{
  font-family: Georgia;
  color: rgba(69,54,37,0.6);
  font-size: 0.75em;
  font-style: italic;
  letter-spacing: 0.25em;
  border-top: 1px solid rgba(69,54,37,0.2);
  display: block;
  padding-top: 0.5em;
  margin-top: 2em;
}


/*меню*/
@charset "utf-8";
/* CSS Document */

.sidebarForm {
		background: #f6f6f6;
		box-shadow: 0 0 5px #ccc; 
		-webkit-box-shadow: 0 0 5px #ccc;
		-moz-box-shadow: 0 0 5px #ccc;
		width: 420px;
}

#cor5 {
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
}

.sidebarForm h4 {
		font: 14px Verdana;
		color: #333333;
		text-align: left;
		padding: 10px 10px 0 10px;
}

.sidebarForm label {
		font: 12px Verdana;
		color: #333;
		padding: 10px;
}

.sidebarForm .input { 
		width: 170px;
		height: 20px;
		overflow: hidden;
		background: white;
		border: solid 1px #DFE2E5;
		margin: 5px 0 10px 10px;
		box-shadow: 0 0 5px #ccc;
		-webkit-box-shadow: 0 0 5px #ccc;
		-moz-box-shadow: 0 0 5px #ccc;
}

.sidebarForm .input input {
		width: 165px;
		height: 26px;
		background: white;
		margin: -3px 0 0 -5px;
		padding: 0px 8px;
		border: none;
		background: transparent;
}

.sidebarForm .textarea {
		height: 70px;
		width: 320px;
		overflow: hidden;
		background: white;
		border: solid 1px #DFE2E5;
		margin: 5px 0 10px 10px;
		box-shadow: 0 0 5px #ccc;
		-webkit-box-shadow: 0 0 5px #ccc;
		-moz-box-shadow: 0 0 5px #ccc;
}

.sidebarForm .textarea textarea {
		width: 316px;
		height: 66px;
		background: white;
		border: none;
		resize:none;
}

.sidebarForm button {
		border: 2px #ccc solid;
		width: 150px;
		height: 25px;
		font: 12px Verdana;
		font-weight: 700;
		color: #FFFFFF;
		background-color: #cc0000;
		padding-bottom: 2px;
		margin: 5px 0 15px 135px;
}

/* CSS стили длякапчи */

.input_capT {
	    width: 98px;
		height: 20px;
		overflow: hidden;
		background: white;
		border: solid 1px #DFE2E5;
		margin: 5px 0 10px 10px;
		box-shadow: 0 0 5px #ccc;
		-webkit-box-shadow: 0 0 5px #ccc;
		-moz-box-shadow: 0 0 5px #ccc;
}

.input_capT input {
		width: 100px;
		height: 26px;
		background: white;
		margin: -3px 0 0 -5px;
		padding: 0px 8px;
		border: none;
		background: transparent;
}




/* CSS стили для новостей 
html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 280px;
    min-height: 250px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-family: "Arial", sans-serif;
    line-height: 1.2;
    color: #7f8c8d;
    background: #ecf0f1;
}
*/
.post {
    position: relative;
    padding-left: 75px;
	    font-size: 12px;
    font-family: "Arial", sans-serif;
    line-height: 1.2;
    /*color: #7f8c8d;*/
    background: #ecf0f1;
}

.post-stats .icon {
    width: 15px;
    height: 15px;
}

.post .post-title,
.post a {
    color: #2980b9;
    text-decoration: none;
}

.post .post-date,
.post .post-type,
.post .post-text {
    border-bottom: 5px solid #bdc3c7;
}
    
.post .post-date,
.post .post-type {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    width: 55px;
    height: 60px;
}

.post .post-date,
.post .post-text {background: white;}

.post .post-date {
    top: 0;
    padding: 5px;
    padding-top: 18px;    
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.post .post-type {
    top: 70px;
    background: #7f8c8d url('https://htmlacademy.ru/assets/course14/quotes.png') no-repeat center;
}

.post .post-text {padding: 10px 10px 10px 15px;color: #000000;}

.post .post-title {
    margin-bottom: 5px;
    font-size: 20px;
}

.post .post-author {margin-bottom: 5px;}

.post .post-stats {        
    position: relative;
    display: inline-block;    
    margin-bottom: 20px;
    margin-right: 10px;
    padding-left: 20px;
}

.post .icon {    
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    background: url('https://htmlacademy.ru/assets/course14/post-challenge.png') no-repeat;
}

.post .icon-tags {background-position: left 0;}
.post .icon-comments {background-position: -20px 0;}



/* CSS стили для карты сайта */
ul#sitemap {
margin: 0;
padding: 0;
list-style: none;
}

ul#sitemap ul {
padding-left: 1em;
list-style: none;
}

ul#sitemap li {
border-bottom: 2px solid #FFFFFF;
}

ul#sitemap li a:link, ul#sitemap li a:visited{
background-color: #CCCCCC;
display: block;
padding: 0.4em;
text-decoration: none;
color: #057FAC;
}

ul#sitemap li a:hover {
background-color: #999999;
color: #FFFFFF;
}

ul#sitemap li li a:link, ul#sitemap li li a:visited{
background-color: #FFFFFF;
display: block;
padding: 0.4em;
}

ul#sitemap li li a:hover {
background-color: #FFFFFF;
color: #057FAC;
}